# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Animes.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\CURSOS LLEVANDO\VIDEOJUEGOS Y APLICACIONES MOVILES\ProyectoFinal\Animes\.idea\.idea.Animes\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
